/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* 导航栏样式 */
nav {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

/* hero区域样式 */
.hero {
    background-image: url('./QQ图片20221017132849.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-content p {
    font-size: 24px;
    margin: 20px 0;
}

.btn {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}